name: Node.js CI

on:
  schedule:
    - cron: "0-5 * * * *"
#   push:
#     branches:    
#       - main

jobs:
  build:

    runs-on: ubuntu-latest
    

    strategy:
      matrix:
        node-version: [12.x]
    env: 
       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps:
    - uses: act10ns/slack@v1
      with:
          status: starting
          channel: '#testing-for-punnet'
          if: always()
    
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      id: checkout
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      id: npm_install
      run: npm install
    - name: npm build
      id: npm_build
      run: npm run build --if-present
    - uses: act10ns/slack@v1
      with:
       status: ${{ job.status }}
       steps: ${{ toJson(steps) }}
       slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: always()
      env: 
       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} 
  Polaris-scan:
    name: "Polaris Scan"
    runs-on: ubuntu-latest
    # the build-and-test job might be skipped, we don't need to run this job then
    if: success() || failure()
    env:
       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:        
      - uses: actions/checkout@v2       
      - name: Static Analysis with Polaris
        id: polaris_sast
        shell : bash 
        env:
            GITHB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export POLARIS_SERVER_URL=${{ secrets.POLARIS_SERVER_URL}}
          export POLARIS_ACCESS_TOKEN=${{ secrets.POLARIS_ACCESS_TOKEN}}
          wget -q https://ikea.polaris.synopsys.com/api/tools/polaris_cli-linux64.zip
          unzip -j polaris_cli-linux64.zip -d /tmp
          /tmp/polaris -c polaris.yml analyze -w --coverity-ignore-capture-failure
      - uses: act10ns/slack@v1
        with:
         status: ${{ job.status }}
         steps: ${{ toJson(steps) }}
         slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always() 
